<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">
    <div class="max-w-7xl flex flex-col md:flex-row gap-6 justify-center z-10">
      <div class="bg-white rounded-lg">
        <img class="rounded-lg w-full rounded-b-none" src="./img/1.jpg" alt="">
        <h1 class="font-semibold text-sm text-gray-400 px-3 pt-3">Startup Unicorns T-Shirt</h1>
        <div class="px-3 flex justify-between mb-2">
          <p class="text-sm mt-1 flex gap-2">$72 <span class="text-gray-600 line-through">$92</span></p>
          <button class="border py-1 px-4 rounded-md text-white bg-blue-500 hover:bg-blue-600">Buy</button>
        </div>
      </div>

      <div class="bg-white rounded-lg">
        <img class="rounded-lg w-full rounded-b-none" src="./img/1.jpg" alt="">
        <h1 class="font-semibold text-sm text-gray-400 px-3 pt-3">Startup Unicorns T-Shirt</h1>
        <div class="px-3 flex justify-between mb-2">
          <p class="text-sm mt-1 flex gap-2">$72 <span class="text-gray-600 line-through">$92</span></p>
          <button class="border py-1 px-4 rounded-md text-white bg-blue-500 hover:bg-blue-600">Buy</button>
        </div>
      </div>

      <div class="bg-white rounded-lg">
        <img class="rounded-lg w-full rounded-b-none" src="./img/1.jpg" alt="">
        <h1 class="font-semibold text-sm text-gray-400 px-3 pt-3">Startup Unicorns T-Shirt</h1>
        <div class="px-3 flex justify-between mb-2">
          <p class="text-sm mt-1 flex gap-2">$72 <span class="text-gray-600 line-through">$92</span></p>
          <button class="border py-1 px-4 rounded-md text-white bg-blue-500 hover:bg-blue-600">Buy</button>
        </div>
      </div>

      <div class="bg-white rounded-lg">
        <img class="rounded-lg w-full rounded-b-none" src="./img/1.jpg" alt="">
        <h1 class="font-semibold text-sm text-gray-400 px-3 pt-3">Startup Unicorns T-Shirt</h1>
        <div class="px-3 flex justify-between mb-2">
          <p class="text-sm mt-1 flex gap-2">$72 <span class="text-gray-600 line-through">$92</span></p>
          <button class="border py-1 px-4 rounded-md text-white bg-blue-500 hover:bg-blue-600">Buy</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>