<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="bg-white border-t border-gray-200 py-8 rounded-lg">
      <div class="w-6xl mx-auto px-4">
        <div class="text-center flex justify-between items-center">
          <div>
            <h3 class="font-semibold">Customer Service</h3>
            <p class="text-gray-600">info@robowolf.net</p>
          </div>

          <div>
            <h3 class="font-semibold">Say Hello</h3>
            <p class="text-gray-600">hello@robowolf.net</p>
          </div>

          <div>
            <h3 class="font-semibold">Phone</h3>
            <p class="text-gray-600">+7 965-404-1978</p>
          </div>
        </div>

        <hr class="my-6 border-gray-300">

        <div class="text-center">
          <h3 class="font-semibold mb-4 text-lg">Subscribe</h3>
          <div class="flex justify-center">
            <input type="email" placeholder="Enter Your E-mail"
              class="w-64 px-4 py-2 border border-gray-300 rounded-md" />
            <button class="bg-purple-500 text-white px-4 py-2 rounded-md ms-3">
              Sign in
            </button>
          </div>

          <div class="flex justify-center space-x-4 mt-6">
            <p class="px-4 py-2 bg-gray-200 rounded-full text-black">
              <i class="fab fa-facebook-f"></i>
            </p>
            <p class="px-3 py-2 bg-gray-200 rounded-full text-black">
              <i class="fab fa-twitter"></i>
            </p>
            <p class="px-3 py-2 bg-gray-200 rounded-full text-black">
              <i class="fab fa-google"></i>
            </p>
          </div>
        </div>

        <div class="mt-6 flex flex-col md:flex-row justify-between text-sm text-gray-500">
          <p>Sitemap. Privacy © Robowolf, saint-Petersburg</p>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>