<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="py-10 bg-white rounded-lg">
      <div class="max-w-7xl mx-auto px-4">
        <h2 class="text-3xl font-bold text-center mb-10">Testimonials</h2>
        <div class="grid gap-6 grid-cols-4">
          <div class="bg-white rounded-lg p-5 border border-gray-300 ">
            <div class="flex items-center gap-3">
              <img src="./img/4.jpg" alt="" class="w-14 h-14 rounded-full object-cover">
              <div>
                <h3 class="font-bold text-xl">Risotto Nero</h3>
                <p class="text-gray-500 text-lg font-semibold">Google</p>
              </div>
            </div>
            <p class="text-gray-400 mt-4 text-md">
              Though the gravity still dragged at him, his muscles were making
              great efforts to adjust. After the daily classes he no longer
              collapsed immediately into bed.
            </p>
            <hr class="my-4 text-gray-300">
            <div class="flex justify-center items-center gap-4 text-black text-2xl">
              <i class="fab fa-twitter bg-gray-200 p-3 rounded-full"></i>
              <i class="fa-brands fa-facebook-f bg-gray-200 px-4 py-3 rounded-full"></i>
              <i class="fab fa-github bg-gray-200 p-3 rounded-full"></i>
            </div>
          </div>

          <div class="bg-white rounded-lg p-5 border border-gray-300">
            <div class="flex items-center gap-3">
              <img src="./img/4.jpg" alt="" class="w-14 h-14 rounded-full object-cover">
              <div>
                <h3 class="font-bold text-xl">Keiji Akira</h3>
                <p class="text-gray-500 text-lg font-semibold">Nike</p>
              </div>
            </div>
            <p class="text-gray-400 mt-4 text-md">
              Though the gravity still dragged at him, his muscles were making
              great efforts to adjust. After the daily classes he no longer
              collapsed immediately into bed.
            </p>
            <hr class="my-4 text-gray-300">
            <div class="flex justify-center items-center gap-4 text-black text-2xl">
              <i class="fab fa-twitter bg-gray-200 p-3 rounded-full"></i>
              <i class="fa-brands fa-facebook-f bg-gray-200 px-4 py-3 rounded-full"></i>
              <i class="fab fa-github bg-gray-200 p-3 rounded-full"></i>
            </div>
          </div>

          <div class="bg-white rounded-lg p-5 border border-gray-300">
            <div class="flex items-center gap-3">
              <img src="./img/4.jpg" alt="" class="w-14 h-14 rounded-full object-cover">
              <div>
                <h3 class="font-bold text-xl">Goku San</h3>
                <p class="text-gray-500 text-lg font-semibold">Yendex</p>
              </div>
            </div>
            <p class="text-gray-400 mt-4 text-md">
              Though the gravity still dragged at him, his muscles were making
              great efforts to adjust. After the daily classes he no longer
              collapsed immediately into bed.
            </p>
            <hr class="my-4 text-gray-300">
            <div class="flex justify-center items-center gap-4 text-black text-2xl">
              <i class="fab fa-twitter bg-gray-200 p-3 rounded-full"></i>
              <i class="fa-brands fa-facebook-f bg-gray-200 px-4 py-3 rounded-full"></i>
              <i class="fab fa-github bg-gray-200 p-3 rounded-full"></i>
            </div>
          </div>

          <div class="bg-white rounded-lg p-5 border border-gray-300">
            <div class="flex items-center gap-3">
              <img src="./img/4.jpg" alt="" class="w-14 h-14 rounded-full object-cover">
              <div>
                <h3 class="font-bold text-xl">Leone Abachio</h3>
                <p class="text-gray-500 text-lg font-semibold">Amazon</p>
              </div>
            </div>
            <p class="text-gray-400 mt-4 text-md">
              Though the gravity still dragged at him, his muscles were making
              great efforts to adjust. After the daily classes he no longer
              collapsed immediately into bed.
            </p>
            <hr class="my-4 text-gray-300">
            <div class="flex justify-center items-center gap-4 text-black text-2xl">
              <i class="fab fa-twitter bg-gray-200 p-3 rounded-full"></i>
              <i class="fa-brands fa-facebook-f bg-gray-200 px-4 py-3 rounded-full"></i>
              <i class="fab fa-github bg-gray-200 p-3 rounded-full"></i>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</body>

</html>