<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="grid grid-cols-2 gap-6 max-w-4xl mx-auto mt-10">

      <div class="bg-white rounded-lg shadow p-6">
        <h3 class="text-gray-500 text-sm">Total Sales</h3>
        <hr class="text-gray-300 my-3">
        <div class="flex items-center justify-between gap-8">
          <div>
            <p class="text-2xl font-bold text-gray-400">$1.2M</p>
            <p class="text-sm text-red-500 font-semibold">- 25%</p>
          </div>
          <svg viewBox="0 0 100 30" class="w-24 h-8 text-pink-500">
            <polyline fill="none" stroke="currentColor" stroke-width="5" points="6,10 20,22 40,24 60,23 80,22 100,30" />
          </svg>
        </div>
      </div>

      <div class="bg-white rounded-lg shadow p-6">
        <h3 class="text-gray-500 text-sm mb-2">Total Balance</h3>
        <hr class="text-gray-300 my-3">
        <div class="flex items-center justify-between gap-8">
          <div>
            <p class="text-2xl font-bold text-gray-400">$1,534</p>
            <p class="text-sm text-green-500 font-semibold">+ 7%</p>
          </div>
          <svg viewBox="0 0 100 30" class="w-24 h-8 text-green-500">
            <polyline fill="none" stroke="currentColor" stroke-width="5" points="0,23 20,22 40,21 60,22 80,23 100,20" />
          </svg>
        </div>
      </div>

    </div>
  </div>
</body>

</html>