<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="bg-white w-md p-6 rounded-lg shadow">
      <h2 class="text-xl font-semibold text-gray-600 mb-3">Tasks</h2>
      <hr class="mb-4 text-gray-300">

      <div class="flex items-center">
        <div class="w-1 h-10 bg-blue-500"></div>
        <input type="checkbox" class="w-5 h-5 mx-3">
        <span class="text-gray-500 text-lg">Lorem ipsum issome dummy text</span>
      </div>

      <div class="flex items-center">
        <div class="w-1 h-10 bg-yellow-400"></div>
        <input type="checkbox" class="w-5 h-5 mx-3">
        <span class="text-gray-500 text-lg">Lorem ipsumis some dummy text</span>
      </div>

      <div class="flex items-center">
        <div class="w-1 h-10 bg-red-600"></div>
        <input type="checkbox" class="w-5 h-5 mx-3">
        <span class="text-gray-500 text-lg">Lorem ipsum issome dummy text</span>
      </div>

      <div class="flex items-center">
        <div class="w-1 h-10 bg-green-400"></div>
        <input type="checkbox" class="w-5 h-5 mx-3">
        <span class="text-gray-500 text-lg">Lorem ipsum issome dummy text</span>
      </div>

      <div class="flex items-center">
        <div class="w-1 h-10 bg-pink-400"></div>
        <input type="checkbox" class="w-5 h-5 mx-3">
        <span class="text-gray-500 text-lg">Lorem ipsum issome dummy text</span>
      </div>
    </div>

  </div>
</body>

</html>