<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="bg-white rounded-2xl shadow-md overflow-hidden w-96">
      <div class="relative">
        <img src="./img/3.webp" alt="Product" class="w-full h-56 object-cover">
        <div class="absolute top-3 right-3 bg-blue-100 px-2 py-1 rounded-lg shadow">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>

      <div class="p-5">
        <div class="flex justify-between items-center">
          <h3 class="text-xl font-semibold">Dualshock 4</h3>
          <span class="text-lg font-semibold text-gray-800">$80</span>
        </div>
        <p class="text-gray-500">Midnight Blue</p>

        <div class="flex items-center mt-2">
          <span class="font-semibold mr-2">4.8</span>
          <div class="flex text-yellow-400">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star text-gray-200"></i>
          </div>
        </div>

        <p class="text-gray-500 text-sm mt-3">
          Unleash your color with the arrival of four new styles. Each wireless controller comes loaded with
          the same DUALSHOCK®4 features including touch pad, motion sensors and built-in rechargeable battery.
        </p>

        <p class="w-full flex items-center justify-center mt-4 bg-blue-100 text-blue-600 font-semibold py-2 rounded-lg">
          Add to cart </p>
      </div>
    </div>
  </div>
</body>

</html>