<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="h-screen grid content-center">
        <footer class=" bg-gray-50">
            <div class="flex justify-between px-5 my-6">
                <div>
                    <h2 class="font-semibold mb-2">Company</h2>
                    <ul>
                        <li class="text-gray-600 text-sm mb-2">Brand</li>
                        <li class="text-gray-600 text-sm mb-2">Contact Us</li>
                        <li class="text-gray-600 text-sm mb-2">Blog</li>
                    </ul>
                </div>
                <div>
                    <h2 class="font-semibold mb-2">Legal</h2>
                    <ul>
                        <li class="text-gray-600 text-sm mb-2">Privacy</li>
                        <li class="text-gray-600 text-sm mb-2">Terms</li>
                        <li class="text-gray-600 text-sm mb-2">Support</li>
                    </ul>
                </div>
                <div>
                    <h2 class="font-semibold mb-2">Products</h2>
                    <ul>
                        <li class="text-gray-600 text-sm mb-2">Latest features</li>
                        <li class="text-gray-600 text-sm mb-2">Product roadmap</li>
                        <li class="text-gray-600 text-sm mb-2">Knowledge base</li>
                    </ul>
                </div>
                <div class="flex flex-col gap-2">
                    <h2 class="font-semibold mb-2 text-center">Account</h2>
                    <button type="button" class="border border-purple-500 p-1 px-4 rounded-sm text-purple-500">sign
                        in</button>
                    <button type="button" class="bg-purple-500 p-1 px-4 rounded-sm text-white">sign up</button>
                </div>
            </div>
            <hr class="my-8 border-gray-200">
            <div class="flex flex-col items-center">
                <h2 class="text-center text-gray-500 text-sm">Sitemap. Privacy © Robowolf, saint-Petersburg</h2>
                <div class="my-6 flex gap-4">
                    <a class="bg-gray-200 py-2 px-3 rounded-full" href=""><i class="fa-brands fa-twitter"></i></a>
                    <a class="bg-gray-200 py-2 px-3 rounded-full" href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a class="bg-gray-200 py-2 px-3 rounded-full" href=""><i class="fa-brands fa-google"></i></a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>