<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="w-6xl px-4 py-3 grid grid-cols-2 gap-8 bg-white rounded-lg shadow">
      <div>
        <h2 class="font-semibold text-lg mb-4">Popular articles</h2>

        <div class="border-b border-t border-gray-200 pb-4 mb-6">
          <h3 class="font-semibold text-lg">Prototyping Tools and Process</h3>
          <p class="text-gray-600 mt-1 text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora assumenda hic
            fugit et eum rerum esse labore iure, tempore sed, dignissimos expedita cupiditate
            dolorum voluptates quas!
          </p>

          <div class="flex items-center justify-between mt-3 text-sm text-gray-500">
            <div class="flex items-center space-x-2">
              <i class="far fa-clock"></i>
              <span>12 May, 2017</span>
            </div>
            <div class="flex items-center space-x-1">
              <i class="far fa-eye"></i>
              <span>1,250</span>
            </div>
          </div>

          <div class="flex items-center mt-3 space-x-3">
            <div class="w-10 h-10 flex items-center justify-center rounded-full bg-green-400 text-white font-semibold">
              CZ
            </div>
            <div>
              <p class="font-semibold">Caesar Zeppeli</p>
              <p class="text-gray-400 text-sm">Ripple master, joe best friend</p>
            </div>
          </div>
        </div>

        <div class="border-b border-gray-200 pb-4 mb-6">
          <h3 class="font-semibold text-lg">Rapid prototyping buddy</h3>
          <p class="text-gray-600 mt-1 text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora assumenda hic fugit et eum rerum esse
            labore iure, tempore sed, dignissimos expedita cupiditate dolorum voluptates quas!
          </p>

          <div class="flex items-center justify-between mt-3 text-sm text-gray-500">
            <div class="flex items-center space-x-2">
              <i class="far fa-clock"></i>
              <span>16 May, 2017</span>
            </div>
            <div class="flex items-center space-x-1">
              <i class="far fa-eye"></i>
              <span>1,250</span>
            </div>
          </div>

          <div class="flex items-center mt-3 space-x-3">
            <div class="w-10 h-10 flex items-center justify-center rounded-full bg-blue-400 text-white font-semibold">
              ML
            </div>
            <div>
              <p class="font-semibold">Mike Lament</p>
              <p class="text-gray-400 text-sm">Dunk master, Wife lover</p>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h2 class="font-semibold text-lg mb-4">Pinned</h2>  

        <div class="border-b border-t border-gray-200 pb-4 mb-6">
          <h3 class="font-semibold text-lg">Updates & Improvements</h3>
          <p class="text-gray-600 mt-1 text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio tempore nam
            aliquam necessitatibus, voluptatibus unde quas omnis nostrum! Velit, amet animi
            quaerat deserunt rem est.
          </p>
        </div>

        <div class="border-b border-gray-200 pb-4 mb-6">
          <h3 class="font-semibold text-lg">Reusable Elements</h3>
          <p class="text-gray-600 mt-1 text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio tempore nam
            aliquam necessitatibus, voluptatibus unde quas omnis nostrum! Eligendi asperiores
            vero nisi aspernatur!
          </p>
        </div>
      </div>
    </div>

  </div>
</body>

</html>