<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="py-12 bg-white rounded-lg">
      <div class="max-w-6xl mx-auto px-6 text-center">
        <h2 class="text-3xl font-semibold text-gray-800">Testimonials</h2>
        <p class="mt-2 text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores eos doloremque eum ut voluptas veniam.
        </p>

        <div class="mt-10 grid gap-6 grid-cols-3">

          <div class="border border-gray-300 rounded-lg p-6 text-left">
            <h3 class="text-gray-500 text-2xl font-bold mb-4">facebook</h3>
            <p class="text-gray-600 text-sm leading-relaxed">
              Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily
              classes he no longer collapsed immediately into bed.
            </p>
            <hr class="my-4 text-gray-300">
            <div class="flex items-center gap-3 ">
              <img class="w-12 h-12 rounded-full object-cover" src="./img/4.jpg" alt="">
              <div>
                <h4 class="font-bold text-gray-800">Risotto Nero</h4>
                <p class="text-gray-500 text-sm">Google</p>
              </div>
            </div>
          </div>

          <div class="border border-gray-300 rounded-lg p-6 text-left">
            <h3 class="text-gray-500 text-2xl font-bold mb-4">facebook</h3>
            <p class="text-gray-600 text-sm leading-relaxed">
              Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily
              classes he no longer collapsed immediately into bed.
            </p>
            <hr class="my-4 text-gray-300">
            <div class="flex items-center gap-3">
              <img class="w-12 h-12 rounded-full object-cover" src="./img/5.jpg" alt="">
              <div>
                <h4 class="font-bold text-gray-800">Goku San</h4>
                <p class="text-gray-500 text-sm">Yandex</p>
              </div>
            </div>
          </div>

          <div class="border border-gray-300 rounded-lg p-6 text-left">
            <h3 class="text-gray-500 text-2xl font-bold mb-4">facebook</h3>
            <p class="text-gray-600 text-sm leading-relaxed">
              Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily
              classes he no longer collapsed immediately into bed.
            </p>
            <hr class="my-4 text-gray-300">
            <div class="flex items-center gap-3">
              <img class="w-12 h-12 rounded-full object-cover" src="./img/6.jpg" alt="">
              <div>
                <h4 class="font-bold text-gray-800">Keiji Akira</h4>
                <p class="text-gray-500 text-sm">Nike</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</body>

</html>