<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="p-6 w-6xl bg-white rounded-lg shadow">
      <h1 class="text-2xl font-semibold mb-6 text-gray-400">Products</h1>

      <hr class="text-gray-300">
      <div class="grid grid-cols-8 text-gray-500 px-4 py-2 font-bold">
        <div>ID</div>
        <div class="col-span-2">Product</div>
        <div>In Stock</div>
        <div>Price</div>
        <div>Sales</div>
        <div>Views</div>
        <div></div>
      </div>
      <hr class="text-gray-300">

      <div class="grid grid-cols-8 items-center bg-white rounded-lg px-4 py-3 mb-3">
        <div class="text-gray-400 font-semibold">356121</div>
        <div class="col-span-2 flex items-center gap-3 text-gray-400 font-semibold">
          <img src="./img/s1.jpg" class="w-12 h-12 rounded-lg object-cover" alt="">
          Bathing Shampoo
        </div>
        <div class="text-gray-400 font-semibold">451</div>
        <div class="text-gray-400 font-semibold">$654</div>
        <div class="text-gray-400 font-semibold">822</div>
        <div class="text-gray-400 font-semibold">80,451</div>
        <div>
          <button class="px-4 py-1 rounded-md bg-indigo-500 text-white font-semibold">
            Views
          </button>
        </div>
      </div>

      <div class="grid grid-cols-8 items-center bg-white rounded-lg px-4 py-3 mb-3">
        <div class="text-gray-400 font-semibold">356122</div>
        <div class="col-span-2 flex items-center gap-3 text-gray-400 font-semibold">
          <img src="./img/s2.jpg" class="w-12 h-12 rounded-lg object-cover" alt="">
          Bathing Shampoo
        </div>
        <div class="text-gray-400 font-semibold">420</div>
        <div class="text-gray-400 font-semibold">$654</div>
        <div class="text-gray-400 font-semibold">812</div>
        <div class="text-gray-400 font-semibold">15,451</div>
        <div>
          <button class="px-4 py-1 rounded-md bg-indigo-500 text-white font-semibold">
            Views
          </button>
        </div>
      </div>

      <div class="grid grid-cols-8 items-center bg-white rounded-lg px-4 py-3 mb-3">
        <div class="text-gray-400 font-semibold">356123</div>
        <div class="col-span-2 flex items-center gap-3 text-gray-400 font-semibold">
          <img src="./img/s3.jpg" class="w-12 h-12 rounded-lg object-cover" alt="">
          Running Shoes
        </div>
        <div class="text-gray-400 font-semibold">451</div>
        <div class="text-gray-400 font-semibold">$654</div>
        <div class="text-gray-400 font-semibold">822</div>
        <div class="text-gray-400 font-semibold">80,451</div>
        <div>
          <button class="px-4 py-1 rounded-md bg-indigo-500 text-white font-semibold">
            Views
          </button>
        </div>
      </div>

      <div class="grid grid-cols-8 items-center bg-white rounded-lg px-4 py-3">
        <div class="text-gray-400 font-semibold">356124</div>
        <div class="col-span-2 flex items-center gap-3 text-gray-400 font-semibold">
          <img src="./img/s4.jpg" class="w-12 h-12 rounded-lg object-cover" alt="">
          Toilet Papers
        </div>
        <div class="text-gray-400 font-semibold">451</div>
        <div class="text-gray-400 font-semibold">$654</div>
        <div class="text-gray-400 font-semibold">822</div>
        <div class="text-gray-400 font-semibold">80,451</div>
        <div>
          <button class="px-4 py-1 rounded-md bg-indigo-500 text-white font-semibold">
            Views
          </button>
        </div>
      </div>
    </div>

  </div>
</body>

</html>