<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex py-10 h-screen px-4 w-full justify-center items-center z-10">

    <div class="bg-white p-3 shadow-2xl rounded-2xl">
      <h1 class="text-center text-2xl font-semibold">Band of Directors</h1>
      <div class="bg-white rounded-xl flex flex-col md:flex-row  max-w-6xl mx-auto p-4 ">
        <img class="rounded-lg w-[500px] object-cover flex-1" src="./img/1.jpg" alt="">
        <div class="px-8 flex-1 flex flex-col justify-center">
          <h1 class="font-semibold text-xl text-black max-w-xl">Steven Steel
          </h1>
          <p class="mb-3">Operation Director</p>
          <p class=" text-gray-500 mb-6 max-w-xl text-md">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repellat quas cumque porro quos, quibusdam, incidunt dolores pariatur doloribus sint voluptatem esse. Iste
            quidem sit totam maxime autem dolorum unde rem. quibusdam, incidunt dolores pariatur doloribus sint
            voluptatem esse. Iste quidem sit totam maxime autem dolorum unde rem.</p>
          <hr class="mt-6 text-gray-300">

          <div class="flex justify-between mt-5">
            <div>
              <button class="px-6 py-2 rounded-md bg-purple-600 font-semibold"><i class="fa-solid fa-envelope"></i> Get
                in</button>
            </div>
            <div class="flex gap-3">
              <button class="px-3 py-2 rounded-full bg-gray-300 font-semibold"><i
                  class="fa-brands fa-twitter"></i></button>
              <button class="px-3 py-2 rounded-full bg-gray-300 font-semibold"><i
                  class="fa-brands fa-linkedin-in"></i></button>
              <button class="px-4 py-2 rounded-full bg-gray-300 font-semibold"><i
                  class="fa-brands fa-facebook-f"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>