<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="relative max-w-lg rounded-lg overflow-hidden shadow-lg">
      <img src="./img/1.webp" alt="Bali" class="w-full h-96 object-cover">

      <div class="absolute inset-0 bg-black/40"></div>

      <span class="absolute top-4 right-4 bg-black/40 font-semibold text-white text-sm px-3 py-1 rounded-md">
        Bali
      </span>

      <div class="absolute bottom-0 left-0 right-0 p-6 text-white">
        <h2 class="text-xl font-bold">Bali</h2>
        <p class="text-sm mt-2 leading-relaxed">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore magna aliquyam erat..
        </p>
      </div>
    </div>
</body>

</html>