<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="py-12 bg-white rounded-lg">
      <div class="max-w-7xl mx-auto px-4">
        <div class="text-start mb-10">
          <h2 class="text-2xl font-bold">Get to know us</h2>
          <p class="text-gray-500 mt-2">
            There's so many poorly chosen words in that sentence.
          </p>
          <hr class="text-gray-300 mt-6">
        </div>

        <div class="grid gap-6 grid-cols-3">

          <div class="bg-white rounded-lg border border-gray-300 overflow-hidden">
            <img src="./img/4.jpg" alt="" class="w-full h-56 object-cover">

            <div class="px-2 py-4 text-start">
              <h3 class="font-semibold text-lg mb-2">Cid Sirius</h3>
              <p class="text-gray-500 text-sm">Backend Developer</p>
            </div>

            <hr class="text-gray-300">

            <div class="flex justify-center items-center gap-6 py-4 text-black text-xl">
              <i class="fab fa-facebook-f bg-gray-200 px-3 py-2 rounded-full"></i>
              <i class="fab fa-twitter bg-gray-200 px-2 py-2 rounded-full"></i>
              <i class="fab fa-google bg-gray-200 px-2 py-2 rounded-full"></i>
            </div>
          </div>

          <div class="bg-white rounded-lg border border-gray-300 overflow-hidden">
            <img src="./img/4.jpg" alt="" class="w-full h-56 object-cover">
            <div class="px-2 py-4 text-start">
              <h3 class="font-semibold text-lg mb-2">Cid Sirius</h3>
              <p class="text-gray-500 text-sm">Backend Developer</p>
            </div>
            <hr class="text-gray-300">
            <div class="flex justify-center items-center gap-6 py-4 text-black text-xl">
              <i class="fab fa-facebook-f bg-gray-200 px-3 py-2 rounded-full"></i>
              <i class="fab fa-twitter bg-gray-200 px-2 py-2 rounded-full"></i>
              <i class="fab fa-google bg-gray-200 px-2 py-2 rounded-full"></i>
            </div>
          </div>

          <div class="bg-white rounded-lg border border-gray-300 overflow-hidden">
            <img src="./img/4.jpg" alt="" class="w-full h-56 object-cover">
            <div class="px-2 py-4 text-start">
              <h3 class="font-semibold text-lg mb-2">Cid Sirius</h3>
              <p class="text-gray-500 text-sm">Backend Developer</p>
            </div>
            <hr class="text-gray-300">
            <div class="flex justify-center items-center gap-6 py-4 text-black text-xl">
              <i class="fab fa-facebook-f bg-gray-200 px-3 py-2 rounded-full"></i>
              <i class="fab fa-twitter bg-gray-200 px-2 py-2 rounded-full"></i>
              <i class="fab fa-google bg-gray-200 px-2 py-2 rounded-full"></i>
            </div>
          </div>

        </div>
      </div>
    </div>



  </div>
</body>

</html>