<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">
    <div class="z-10">

      <div class="bg-white rounded-xl flex flex-col md:flex-row max-w-6xl mx-auto p-6">
        <img class="rounded-lg w-[500px] object-cover" src="./img/1.jpg" alt="">
        <div class="px-8 py-2 flex flex-col justify-center">
          <h1 class="font-semibold text-3xl text-black mb-4">Wireframe manufacturing and digital prototyping solutions</h1>
          <p class="text-sm text-gray-500 mb-4 max-w-xl ">A peep at some distant orb has power to raise andpurify ourthoughts
            like a strain of sacred music, or a noble picture, or a passage from the grander poets.It always does one
            good.</p>
            <ul class="list-disc pl-5 text-gray-500 mb-6">
              <li class="mb-3 text-gray-400">A Red Flair silhouetted the jagged edge of a wing</li>
              <li class="mb-3 text-gray-400">A Red Flair silhouetted the jagged edge of a wing</li>
              <li class="mb-3 text-gray-400">A Red Flair silhouetted the jagged edge of a wing</li>
            </ul>
          <button class="border border-indigo-400 text-indigo-400 rounded-full p-1 px-5  w-30 ">Try New</button>
        </div>
      </div>

    </div>
  </div>
  </div>
</body>

</html>