<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="py-8 bg-white shadow rounded-lg">
      <div class="w-6xl mx-auto px-6">

        <div class="flex justify-center gap-10 text-purple-600 font-medium">
          <p class="border-b-2 text-purple-600">
            Features
          </p>
          <p class="border-b-2 text-purple-600">
            Use Cases
          </p>
          <p class="border-b-2 text-purple-600">
            How it works
          </p>
          <p class="border-b-2 text-purple-600">
            Pricing
          </p>
        </div>

        <hr class="text-gray-300 mt-10">

        <div class="flex justify-between items-center">
          <div class="mt-8 text-center">
            <p class="font-medium mb-3">Available on</p>
            <div class="flex justify-center gap-4">
              <img src="./img/apple.png" class="h-12" alt="">
              <img src="./img/apple.png" class="h-12" alt="">
            </div>
          </div>

          <div class="mt-8 flex justify-center gap-4">
            <p
              class="w-15 h-15 flex items-center justify-center rounded-full bg-gray-200 text-black shadow">
              <i class="fab fa-facebook-f text-2xl"></i>
            </p>
            <p
              class="w-15 h-15 flex items-center justify-center rounded-full bg-gray-200 text-black shadow">
              <i class="fab fa-twitter text-2xl"></i>
            </p>
            <p
              class="w-15 h-15 flex items-center justify-center rounded-full bg-gray-200 text-black shadow">
              <i class="fab fa-google text-2xl"></i>
            </p>
          </div>
        </div>

        <div class="mt-8 flex justify-between items-center text-gray-600 text-sm">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
          <p class="border border-purple-300 py-2 px-8 text-lg font-semibold">
            ENG
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>