<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="bg-white min-w-[500px] p-4 rounded-xl shadow-2xl">
      <div class="">
        <div class="flex justify-between ">
          <span class="text-xl font-semibold text-gray-600"><i
              class="fa-brands fa-twitter text-sky-400 bg-gray-200 p-3 rounded-md me-2"></i>Twitter</span>
          <div>
            <span class="text-xl font-semibold text-gray-600">4.8</span>
            <i class="fa-solid fa-star text-xl text-amber-300"></i>
            <i class="fa-solid fa-star text-xl text-amber-300"></i>
            <i class="fa-solid fa-star text-xl text-amber-300"></i>
            <i class="fa-solid fa-star text-xl text-amber-300"></i>
            <i class="fa-solid fa-star text-xl text-gray-200"></i>
          </div>
        </div>
        <div class="flex justify-between items-center mt-3">
          <h1 class="font-semibold text-xl">Full Stack Developer</h1>
          <div class="flex gap-2">
            <p class="px-2 bg-purple-200 rounded-2xl text-sm">Remote</p>
            <p class="px-2 bg-pink-200 rounded-2xl text-sm">NY,USA</p>
          </div>
        </div>
        <hr class="text-gray-300 my-4">
        <div class="flex justify-between items-center">
          <p class="text-gray-500 font-semibold text-xl">$80,000</p>
          <div class="flex gap-4">
            <button
              class="px-4 rounded-sm bg-red-500 py-2 hover:bg-red-600 transition text-white font-semibold">Cancel</button>
            <button
              class="px-4 rounded-sm bg-indigo-500 py-2 hover:bg-indigo-600 transition text-white font-semibold">Apply</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</body>

</html>