<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">
    
      <div class="bg-white min-w-[400px] p-4 rounded-xl shadow-2xl">
        <div class="border-3 border-dashed border-gray-400 p-3 rounded-2xl flex justify-center text-center">
        
          <div class="">
            <h1 class="font-semibold text-2xl">Drop your file here</h1>
            <p class="text-gray-500">Or upload it manually</p>
            <button
              class="w-[300px] rounded-sm bg-indigo-200 py-2 hover:bg-indigo-300 transition text-indigo-500 font-semibold">Upload</button>
          </div>
        </div>
      </div>

  </div>
</body>

</html>