<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="max-w-7xl mx-auto px-6 py-12 bg-white rounded-lg shadow">
      <h2 class="text-2xl font-bold text-center mb-10">Meet our Team</h2>

      <section class="max-w-6xl mx-auto px-6 py-5 bg-white">
        <h2 class="text-2xl font-semibold text-center mb-5 py-3">Heats 'Em Say</h2>

        <div class="grid grid-cols-3 gap-6">

          <div class="border border-gray-300 rounded-lg p-4">
            <div class="flex justify-between items-center mb-3 w-full">
              <div class="flex items-top justify-between w-full">
                <img src="./img/5.jpg" alt="user" class="w-12 h-12 rounded-full">
                <div class="h-8 w-8 bg-gray-200 flex justify-center items-center rounded-full">
                  <i class="fab fa-twitter"></i>
                </div>
              </div>
            </div>
            <div>
              <h3 class="font-semibold">Risotto Nero</h3>
              <p class="text-sm text-gray-500 pb-3">Google</p>
            </div>
            <p class="text-gray-600 text-sm">
              Though the gravity still dragged at him, his muscles were making great efforts to adjust.
              After the daily classes he no longer collapsed immediately into bed.
            </p>
          </div>

          <div class="border border-gray-300 rounded-lg p-4">
            <div class="flex justify-between items-center mb-3 w-full">
              <div class="flex items-top justify-between w-full">
                <img src="./img/5.jpg" alt="user" class="w-12 h-12 rounded-full">
                <div class="h-8 w-8 bg-gray-200 flex justify-center items-center rounded-full">
                  <i class="fab fa-twitter"></i>
                </div>
              </div>
            </div>
            <div>
              <h3 class="font-semibold">Goku San</h3>
              <p class="text-sm text-gray-500 pb-3">Yendex</p>
            </div>
            <p class="text-gray-600 text-sm">
              Though the gravity still dragged at him, his muscles were making great efforts to adjust.
              After the daily classes he no longer collapsed immediately into bed.
            </p>
          </div>

          <div class="border border-gray-300 rounded-lg p-4">
            <div class="flex justify-between items-center mb-3 w-full">
              <div class="flex items-top justify-between w-full">
                <img src="./img/5.jpg" alt="user" class="w-12 h-12 rounded-full">
                <div class="h-8 w-8 bg-gray-200 flex justify-center items-center rounded-full">
                  <i class="fab fa-twitter"></i>
                </div>
              </div>
            </div>
            <div>
              <h3 class="font-semibold">Keiji Akira</h3>
              <p class="text-sm text-gray-500 pb-3">Nike</p>
            </div>
            <p class="text-gray-600 text-sm">
              Though the gravity still dragged at him, his muscles were making great efforts to adjust.
              After the daily classes he no longer collapsed immediately into bed.
            </p>
          </div>

          <div class="border border-gray-300 rounded-lg p-4">
            <div class="flex justify-between items-center mb-3 w-full">
              <div class="flex items-top justify-between w-full">
                <img src="./img/5.jpg" alt="user" class="w-12 h-12 rounded-full">
                <div class="h-8 w-8 bg-gray-200 flex justify-center items-center rounded-full">
                  <i class="fab fa-twitter"></i>
                </div>
              </div>
            </div>
            <div>
              <h3 class="font-semibold">Leone Abachio</h3>
              <p class="text-sm text-gray-500 pb-3">Amazon</p>
            </div>
            <p class="text-gray-600 text-sm">
              Though the gravity still dragged at him, his muscles were making great efforts to adjust.
              After the daily classes he no longer collapsed immediately into bed.
            </p>
          </div>

          <div class="border border-gray-300 rounded-lg p-4">
            <div class="flex justify-between items-center mb-3 w-full">
              <div class="flex items-top justify-between w-full">
                <img src="./img/5.jpg" alt="user" class="w-12 h-12 rounded-full">
                <div class="h-8 w-8 bg-gray-200 flex justify-center items-center rounded-full">
                  <i class="fab fa-twitter"></i>
                </div>
              </div>
            </div>
            <div>
              <h3 class="font-semibold">Kilua Mori</h3>
              <p class="text-sm text-gray-500 pb-3">Dropbox</p>
            </div>
            <p class="text-gray-600 text-sm">
              Though the gravity still dragged at him, his muscles were making great efforts to adjust.
              After the daily classes he no longer collapsed immediately into bed.
            </p>
          </div>

          <div class="border border-gray-300 rounded-lg p-4">
            <div class="flex justify-between items-center mb-3 w-full">
              <div class="flex items-top justify-between w-full">
                <img src="./img/5.jpg" alt="user" class="w-12 h-12 rounded-full">
                <div class="h-8 w-8 bg-gray-200 flex justify-center items-center rounded-full">
                  <i class="fab fa-twitter"></i>
                </div>
              </div>
            </div>
            <div>
              <h3 class="font-semibold">Remeo Dezeus</h3>
              <p class="text-sm text-gray-500 pb-3">Vimeo</p>
            </div>
            <p class="text-gray-600 text-sm">
              Though the gravity still dragged at him, his muscles were making great efforts to adjust.
              After the daily classes he no longer collapsed immediately into bed.
            </p>
          </div>

        </div>

        <div class="text-center mt-8 flex justify-center">
          <p class="px-6 py-2 w-50 border border-purple-500 text-purple-500 font-medium rounded-md">
            Discover more
        </p>
        </div>
      </section>


    </div>
</body>

</html>