<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex py-10 h-screen px-4 w-full justify-center items-center z-10">


    <div class="grid content-center h-screen w-fit">
      <div class="bg-white p-5 w-fit rounded-lg">
        <div class="text-center mb-10 mt-7">
          <h1 class="font-bold text-3xl">Best Products ever made</h1>
          <p class="text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsum
            necessitatibus <br> ab corrupti adipisci deserunt expedita deleniti dolor omnis rerum?</p>
        </div>
        <div class="grid grid-rows-1 grid-flow-col gap-10 py-2 bg-white rounded-xl">
          <div class="grid grid-cols-1 rounded-lg shadow-xl w-[400px]">
            <img src="./img/1.jpg" alt="" class="rounded-t-lg w-full">
            <div class="p-4">
              <p class="text-lg font-semibold">Layer Styles</p>
              <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                voluptas officia quod
                voluptates ut ex nostrum quibusdam voluptatibus quam excepturi.</p>
            </div>
          </div>
          <div class="grid grid-cols-1 rounded-lg shadow-xl w-[400px]">
            <img src="./img/1.jpg" alt="" class="rounded-t-lg w-full ">
            <div class="p-4">
              <p class="text-lg font-semibold">Layer Styles</p>
              <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                voluptas officia quod
                voluptates ut ex nostrum quibusdam voluptatibus quam excepturi.</p>
            </div>
          </div>
          <div class="grid grid-cols-1 rounded-lg shadow-xl w-[400px]">
            <img src="./img/1.jpg" alt="" class="rounded-t-lg w-full ">
            <div class="p-4">
              <p class="text-lg font-semibold">Layer Styles</p>
              <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                voluptas officia quod
                voluptates ut ex nostrum quibusdam voluptatibus quam excepturi.</p>
            </div>
          </div>
        </div>
        <hr class="border border-gray-200 mt-8">
        <div class="flex justify-center mt-5">
          <div class="p-4 py-2 text-xl text-gray-500 w-[300px] justify-between flex bg-white shadow-xl">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-solid fa-g"></i>
            <i class="fa-brands fa-linkedin-in"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>