<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">
    <div class="max-w-7xl flex flex-col md:flex-row gap-6 justify-center z-10">
      <div class="bg-white rounded-lg p-3">
        <img class="rounded-lg w-full " src="./img/1.jpg" alt="">
        <div class="py-2">
          <h1 class="font-semibold text-xl">Reusable Elements</h1>
          <p class="text-sm text-gray-400 mt-1">The Earth was small,light blue,and so touchingly alone</p>
          <p class="text-end text-sm text-gray-400 mt-1">12 May, 2017</p>
        </div>
      </div>

      <div class="bg-white rounded-lg p-3">
        <img class="rounded-lg w-full " src="./img/1.jpg" alt="">
        <div class="py-2">
          <h1 class="font-semibold text-xl">Free Google Fonts</h1>
          <p class="text-sm text-gray-400 mt-1">The Earth was small,light blue,and so touchingly alone</p>
          <p class="text-end text-sm text-gray-400 mt-1">13 May, 2017</p>
        </div>
      </div>

      <div class="bg-white rounded-lg p-3">
        <img class="rounded-lg w-full " src="./img/1.jpg" alt="">
        <div class="py-2">
          <h1 class="font-semibold text-xl">Responsive Symbols</h1>
          <p class="text-sm text-gray-400 mt-1">The Earth was small,light blue,and so touchingly alone</p>
          <p class="text-end text-sm text-gray-400 mt-1">14 May, 2017</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>