<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="bg-white min-w-[500px] p-4 rounded-xl shadow-2xl">
      <h2 class="text-xl text-gray-500 mb-2">New Users</h2>
      <hr class="mb-4 text-gray-300">

      <div class="flex gap-3 mb-4">
        <img src="./img/4.jpg" class="w-12 h-12 rounded-xl object-cover" alt="">
        <div>
          <p class="text-gray-400">Peter Orangatan</p>
          <span class="text-gray-400 text-sm">2 hours ago</span>
        </div>
      </div>

      <div class="flex gap-3 mb-4">
        <img src="./img/5.jpg" class="w-12 h-12 rounded-xl object-cover" alt="">
        <div>
          <p class="text-gray-400">Tommy Delware</p>
          <span class="text-gray-400 text-sm">3 hours ago</span>
        </div>
      </div>

      <div class="flex gap-3 mb-4">
        <img src="./img/6.jpg" class="w-12 h-12 rounded-xl object-cover" alt="">
        <div>
          <p class="text-gray-400">John Dale</p>
          <span class="text-gray-400 text-sm">4 hours ago</span>
        </div>
      </div>

      <div class="flex gap-3 mb-4">
        <img src="./img/7.jpg" class="w-12 h-12 rounded-xl object-cover" alt="">
        <div>
          <p class="text-gray-400">Jim Halpert</p>
          <span class="text-gray-400 text-sm">4 hours ago</span>
        </div>
      </div>

      <div class="flex gap-3">
        <img src="./img/8.jpg" class="w-12 h-12 rounded-xl object-cover" alt="">
        <div>
          <p class="text-gray-400">Michael Smith</p>
          <span class="text-gray-400 text-sm">4 hours ago</span>
        </div>
      </div>

    </div>

  </div>
</body>

</html>