<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">


    <div class="p-10 bg-white rounded-xl">
      <div class="text-center mb-10">
        <h1 class="text-3xl font-bold">Meet our team</h1>
      </div>
      <div class="grid pb-3 grid-cols-4 gap-10 max-w-6xl px-5">
        <div class="bg-white shadow rounded-xl border border-gray-300">
          <img src="./img/4.jpg"
            alt="Profile" class="rounded-t-xl">
          <div class="text-center pb-4">
            <h2 class="mt-2 font-semibold text-lg">Cid Sirius</h2>
            <p class="text-gray-500 text-sm">Backend Developer</p>
          </div>
        </div>
        <div class="bg-white shadow rounded-xl border border-gray-300">
          <img src="./img/8.jpg"
            alt="Profile" class="rounded-t-xl">
          <div class="text-center pb-4">
            <h2 class="mt-2 font-semibold text-lg">Rubber Soul</h2>
            <p class="text-gray-500 text-sm ">UX Designer</p>
          </div>
        </div>
        <div class="bg-white shadow rounded-xl border border-gray-300">
          <img src="./img/6.jpg"
            alt="Profile" class="rounded-t-xl">
          <div class="text-center pb-4">
            <h2 class="mt-2 font-semibold text-lg">Leone Abbachhio</h2>
            <p class="text-gray-500 text-sm ">Visual Brand Director</p>
          </div>
        </div>
        <div class="bg-white shadow rounded-xl border border-gray-300">
          <img src="./img/7.jpg"
            alt="Profile" class="rounded-t-xl">
          <div class="text-center pb-4">
            <h2 class="mt-2 font-semibold text-lg">Funny Valentine</h2>
            <p class="text-gray-500 text-sm ">UI Designer</p>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-10 max-w-6xl px-5">
        <div class="bg-white shadow rounded-xl border border-gray-300">
          <img src="./img/8.jpg"
            alt="Profile" class="rounded-t-xl">
          <div class="text-center pb-4">
            <h2 class="mt-2 font-semibold text-lg">Risotto Nero</h2>
            <p class="text-gray-500 text-sm ">VP Product</p>
          </div>
        </div>
        <div class="bg-white shadow rounded-xl border border-gray-300">
          <img src="./img/4.jpg"
            alt="Profile" class="rounded-t-xl">
          <div class="text-center pb-4">
            <h2 class="mt-2 font-semibold text-lg">Okuyasu Nijimura</h2>
            <p class="text-gray-500 text-sm ">Design Manger</p>
          </div>
        </div>
        <div class="bg-white shadow rounded-xl border border-gray-300">
          <img src="./img/7.jpg"
            alt="Profile" class="rounded-t-xl">
          <div class="text-center pb-4">
            <h2 class="mt-2 font-semibold text-lg">Enrico Pucci</h2>
            <p class="text-gray-500 text-sm ">Frontend Developer</p>
          </div>
        </div>
        <div class="bg-white shadow rounded-xl border border-gray-300">
          <img src="./img/8.jpg"
            alt="Profile" class="rounded-t-xl">
          <div class="text-center pb-4">
            <h2 class="mt-2 font-semibold text-lg">Saifer joe</h2>
            <p class="text-gray-500 text-sm ">Frontend Developer</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>