<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">

    <div class="bg-white min-w-[500px] p-4 rounded-xl shadow-2xl">
      <h2 class="text-xl text-gray-800 mb-2 font-bold">Recents Contacts</h2>

      <div class="flex gap-3 mb-4">
        <img src="./img/4.jpg" class="w-14 h-14 rounded-full object-cover" alt="">
        <div>
          <p class="text-gray-800 font-semibold text-xl">John Doe</p>
          <span class="text-gray-400 text-md">Acc No 1282 2252 5200</span>
        </div>
      </div>

      <div class="flex gap-3 mb-4">
        <img src="./img/5.jpg" class="w-14 h-14 rounded-full object-cover" alt="">
        <div>
          <p class="text-gray-800 font-semibold text-xl">Amanda Seri</p>
          <span class="text-gray-400 text-md">Acc No 1282 2252 5200</span>
        </div>
      </div>

      <div class="flex gap-3 mb-4">
        <img src="./img/6.jpg" class="w-14 h-14 rounded-full object-cover" alt="">
        <div>
          <p class="text-gray-800 font-semibold text-xl">Karen Jones</p>
          <span class="text-gray-400 text-md">Acc No 1282 2252 5200</span>
        </div>
      </div>

      <div class="flex gap-3 mb-4">
        <img src="./img/7.jpg" class="w-14 h-14 rounded-full object-cover" alt="">
        <div>
          <p class="text-gray-800 font-semibold text-xl">Brad Billy</p>
          <span class="text-gray-400 text-md">Acc No 1282 2252 5200</span>
        </div>
      </div>

    </div>

  </div>
</body>

</html>