<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex h-full py-10 px-4 w-full justify-center items-center ">
    
      <div class="bg-white max-w-[600px] p-4 rounded-xl shadow-2xl">

        <div class="flex justify-between">
          <h1 class="text-2xl font-bold mb-4 inline">We use cookies</h1>
          <span class="rounded-md  bg-blue-100 hover:bg-blue-200 w-6 h-6 flex items-center justify-center"><i class="fa-solid fa-xmark"></i></span>
        </div>

        <p class="text-md text-gray-500">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book.</p>
        <div class="flex gap-2 mt-4">
          <button class="flex-1 rounded-sm bg-red-400 py-2 hover:bg-red-500 transition text-white ">Cancel</button>
          <button
            class="flex-1 rounded-sm bg-indigo-400 py-2 hover:bg-indigo-500 transition text-white">Confirm</button>
        </div>
      </div>

  </div>
</body>

</html>