<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./src/output.css">
  <script src="https://kit.fontawesome.com/6f7d0e203c.js" crossorigin="anonymous"></script>
</head>

<body class="relative h-screen">
  <div class="bg-[url(/img/2.png)] bg-cover bg-no-repeat blur-md absolute inset-0 -z-10"></div>
  <div class="flex py-10 h-screen px-4 w-full justify-center items-center z-10">


    <div class="bg-white rounded-xl flex flex-col md:flex-row  max-w-6xl mx-auto p-4 shadow-2xl">
      <div class="px-8 py-2 flex flex-col justify-center">
        <div class="border rounded-full p-3 text-2xl max-w-14 bg-purple-200 border-purple-200">
          <i class="fa-solid fa-cloud"></i>
        </div>
        <h1 class="font-semibold text-3xl text-black mb-4 max-w-xl">The face of the moon was in shadow.</h1>
        <p class=" text-gray-500 mb-4 max-w-xl text-md">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid voluptates fuga, animi iste natus laboriosam hic blanditiis. Optio tenetur facilis iusto esse non ipsum adipisci est nihil voluptates ut a numquam iste dolore fuga, provident officiis delectus, doloremque sequi molestias quam! Distinctio aliquam iste id dolores nostrum! Distinctio, deleniti quod.</p>
          <div> 
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star text-gray-400 me-3"></i>
            <span class="text-gray-500">Average App Rrating</span>
          </div>
          <hr class="my-3">
          <div>   
            <span class="underline decoration-purple-300">View Prouduct</span>
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
        </div>
        <img class="rounded-lg w-[500px] object-cover" src="./img/1.jpg" alt="">
    </div>

  </div>
  </div>
</body>

</html>